---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// pull in variables from the query string and use those to change what shows up on the page IF it is server-side rendered

---

<Layout title="Welcome to Astro.">
	<main>
		This is my web application.
		<input type="text" value="Chicago" placeholder="Type the name of a place here" />
		<button id="submitPlace">Submit</button>
		<div id="answer"></div>
	</main>
</Layout>

<script>
	document
		.getElementById("submitPlace")!
		.addEventListener("click", async () => {
			const place = document.querySelector("input").value;
			const result = await fetch("/api/nice", {
				method: "POST",
				body: JSON.stringify({ place }),
				headers: {
					"Content-Type": "application/json",
				},
			}).then((res) => res.json());
			document.getElementById("answer")!.innerText = result.data;
		});
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
